body {
  font-family: 'Open Sans', sans-serif;
}

header {
  background: #404041;
  height: 85px;
  text-align: center;
  font-size: 46px;
}

h1{
  display: inline-block;
  vertical-align: middle;
  margin-top: 16px;
}

#title1 {
  color: #ED458B;
  font-weight: 700;
}

#title2 {
  color: #e6e7e8;
  font-weight: 300;
}

section {
  text-align: center;
  margin-bottom: 20px;
}

input {
  display: block;
  margin: auto;
  margin-top: 30px;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 300;
  width: 370px;
  outline: none;
}

button {
  margin: 20px 8px 5px;
  background-color:#D0D2D3;
  border: none;
  color: #FFFFFF;
  padding: 2px 60px;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 300;
  border-radius: 25px;
  outline: none;
}

button:hover {
  background-color:#EB008B;
  cursor: pointer;
}

button:disabled {
  background-color:#D0D2D3;
  cursor: default;
}

#lastGuess {
  margin-top: 20px;
  height:215px
}

#lastGuess p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 300;
  color: #404041;
}

#lastGuess h2 {
  color: #EB008B;
  font-size: 165px;
  font-weight: 300;
  margin-bottom: 5px;
}

.MMinput {
    display: inline-block;
    margin: auto;
    margin-top: 10px;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 300;
    width: 180px;
    outline: none;
}
#newRange {
  margin-top: 5px;
  width: 370px;
  font-size: 20px;
}
#reset {
  margin-top: 0;
  width: 370px;
  font-size: 20px;
}

@media screen and (max-width: 500px){

  header {
    font-size: 35px;
    height: 68px;
  }

  input {
    width: 300px;
    height: 40px;
    border: 2px solid #D0D2D3;
    font-size: 25px;
  }

  button {
    width: 300px;
    margin: 6px;
    font-size: 20px;
    padding: 4.5px;
  }

  #number {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  #lastGuess {
    margin: 25px 0 30px;
  }

  #lastGuess p {
    font-size: 20px;
  }

  #lastGuess h2 {
    font-size: 150px;
    margin-top: -5px;
  }

  .MMinput {
    width: 300px;
    height: 40px;
    border: 2px solid #D0D2D3;
    font-size: 25px;
  }
  #newRange {
    margin-top: 10px;
    width: 300px;
    font-size: 20px;
}
  #reset{
    width: 300px;
    margin-top: -15px;
    font-size: 20px;
  }

  }
